project:
  type: website
  output-dir: docs

website:
  title: " PM 566 Final Project"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - Data-Processing.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual
 
